<ion-view title="Contato" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="contato-card218">
      <ion-item class="item-icon-left positive" id="contato-list-item47">
        <i class="icon ion-android-bulb"></i>Instituto Ricardo Melo</ion-item>
      <ion-item class="item-icon-left" id="contato-list-item51">
        <i class="icon ion-android-mail"></i>irm@institutoricardomelo.com.br</ion-item>
      <ion-item class="item-icon-left" id="contato-list-item52">
        <i class="icon ion-ios-telephone"></i>+55 31 3226 8010</ion-item>
    </div>
    <div class="list card" id="contato-card219">
      <ion-item class="item-icon-left balanced" id="contato-list-item48">
        <i class="icon ion-android-favorite"></i>Instituto Namastê</ion-item>
      <ion-item class="item-icon-left" id="contato-list-item49">
        <i class="icon ion-android-mail"></i>contato@institutonamaste.com.br</ion-item>
      <ion-item class="item-icon-left" id="contato-list-item50">
        <i class="icon ion-ios-telephone"></i>+55 31 99181 7789</ion-item>
    </div>
  </ion-content>
</ion-view>