<ion-view title="Perfil">
  <ion-content padding="true" class="has-header">
    <form id="form" name="form" class="list" novalidate="novalidate">
      <ion-list id="login-list3">
        <label class="item item-input">
          <span class="input-label" ng-class="{ 'has-error': !form.ds_nome.$pristine && form.ds_nome.$invalid }">Nome</span>
          <input ng-model="usuario.DS_NOME" placeholder="Nome" name="ds_nome" ng-minlength="4" ng-required="true" class="form-control" type="text" />
        </label>
        <label class="item item-input">
          <span class="input-label" ng-class="{ 'has-error': !form.ds_email.$pristine && form.ds_email.$invalid }">Email</span>
          <input ng-model="usuario.DS_EMAIL" placeholder="E-mail" name="ds_email" ng-minlength="4" ng-required="true" class="form-control" type="email" />
        </label>
        <!--<a class="item item-icon-right" ng-show="!altCidade" ng-click="setAltCidade(true)">
          <span class="">Cidade</span>
          <span class="">
            {{usuario.DS_CIDADE}}
          </span>
          <i class="icon ion-edit"></i>
        </a>-->
        <!--<label class="item item-input" ng-show="altCidade">
          <span class="input-label" ng-class="{ 'has-error': !form.ds_endereco.$pristine && form.ds_endereco.$invalid }">Cidade</span>
          <input gm-places-autocomplete ng-model="usuario.DS_ENDERECO" placeholder="Cidade" name="ds_endereco" ng-required="true" class="form-control" type="text"/>
        </label>-->
        <label class="item item-input">
          <span class="input-label" ng-class="{ 'has-error': !form.ds_pais.$pristine && form.ds_pais.$invalid }">País</span>
          <input ng-model="usuario.DS_PAIS" placeholder="País" name="ds_pais" ng-minlength="1" ng-required="true" class="form-control" type="text" ng-change="pesquisaLugar()" />
        </label>
        <label class="item item-input">
          <span class="input-label" ng-class="{ 'has-error': !form.ds_estado.$pristine && form.ds_estado.$invalid }">Estado</span>
          <input ng-model="usuario.DS_ESTADO" placeholder="Estado" name="ds_estado" ng-minlength="1" ng-required="true" class="form-control" type="text" ng-change="pesquisaLugar()" />
        </label>
        <label class="item item-input">
          <span class="input-label" ng-class="{ 'has-error': !form.ds_cidade.$pristine && form.ds_cidade.$invalid }">Cidade</span>
          <input ng-model="usuario.DS_CIDADE" placeholder="Cidade" name="ds_cidade" ng-minlength="1" ng-required="true" class="form-control" type="text" ng-change="pesquisaLugar()" />
        </label>
        <!--<label class="item item-input">
          <span class="input-label" ng-class="{ 'has-error': !form.ds_senha.$pristine && form.ds_senha.$invalid }">Senha</span>
          <input data-ng-model="usuario.DS_SENHA" id="ds_senha" name="ds_senha" placeholder="Senha" ng-minlength="6" ng-required="true" class="form-control" type="password" />
        </label>
        <label class="item item-input">
          <span class="input-label" ng-class="{ 'has-error': !form.ds_conf_senha.$pristine && form.ds_conf_senha.$invalid }">Senha</span>
          <input ng-model="usuario.DS_CONF_SENHA" id="ds_conf_senha" data-password-verify="usuario.DS_SENHA" name="ds_conf_senha" placeholder="Confirmação de Senha" ng-minlength="6" ng-required="true" class="form-control" type="password" />
        </label>-->
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button class="button button-positive button-block" ng-disabled="form.$invalid" ng-click="salvar(usuario)">Salvar</button>
    </form>
  </ion-content>
</ion-view>