<ion-view title="Quem Somos" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="quemSomos-card27">
      <ion-item class="item-icon-left positive" id="quemSomos-list-item31">
        <i class="icon ion-android-bulb"></i>Instituto Ricardo Melo</ion-item>
      <div class="item item-body" id="quemSomos-list-item-container12">
        <div id="quemSomos-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Com 19 anos de fundação, o Instituto Ricardo Melo é uma das mais prestigiadas empresas mineiras, de atuação em todo o território brasileiro, na área de Coaching, Educação Financeira, Meditação e Qualidade de Vida. Condecorado pela ONU, como
            fornecedor credenciado, desde 2006, já ministrou cursos para mais de 15.000 pessoas em diversas partes de mundo. O IRM já esteve presente nos EUA, EUROPA e África. Atualmente, sua sede brasileira é em Belo Horizonte, com escritórios avançados
            nas cidades de São Paulo/SP e Maringá/PR. Tem representantes no Reino Unido, Espanha e Portugal.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="quemSomos-card28">
      <ion-item class="item-icon-left balanced" id="quemSomos-list-item33">
        <i class="icon ion-android-favorite"></i>Instituto Namastê</ion-item>
      <div class="item item-body" id="quemSomos-list-item-container13">
        <div id="quemSomos-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Nossa instituição, sem fins lucrativos, tem o objetivo de ser o braço social das atividades do Instituto Ricardo Melo e dar total suporte a projetos sociais reconhecidamente sérios, religiosos ou não, tanto financeiramente como nas demais necessidades,
            com total apoio no que for possível.</p>

          <p style="color:#000000;">Com base no Brasil, o Instituto Namastê já nasce grande, auxiliando projetos de alcance Global, como o trabalho da Falange do Bem e as gravações das Pílulas do Evangelho, presentes em mais de 100 países.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>